.root {
  position: relative;
  left: -120px;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 0 12px 42px;
  width: 340px;
  border-radius: 10px;
  font-size: 16px;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.icon {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0.3;
  left: 14px;
  top: 12px;
}
.clearIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0.3;
  right: 15px;
  top: 15px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
